:root {
    --purple: #573a7a;
    --yellow: #FCBF49;
    --light-blue: rgba(141, 193, 223);
    --dark: rgb(30, 30, 35);
    --extra-dark: rgb(10, 10, 20);
    --gray: rgb(54, 54, 54);
    --light-gray: rgb(170, 200, 200);
}

* { margin: 0; padding: 0; }  /* reset margin and padding */


*::-webkit-scrollbar {
    width: 16px;
    background-color: transparent;
}


*::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 20px;
}



body {
    overflow: overlay;
}



#header {
    position: relative;
    height: 26px;
    background-color: var(--purple);
    color: var(--yellow);
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 7px 20px 7px 10px;
    text-align: left;
}



#logo {
    float: left;
}



#button-containers {
    float: right;
}



.button {
    width: 80px;
    height: 23px;
    background-color: var(--yellow);
    color: var(--extra-dark);
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
    border-radius: 8px;
    border: none;
    transition: 0.4s;
}
.button:hover {
    transform: scale(1.08, 1.08);
}




#options-panel {
    position: relative;
    display: flex;
    justify-content: right;
    height: 15px;
    background-color: var(--dark);
    color: var(--light-blue);
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    padding: 6px 20px 10px 20px;
}




.dropdown {
    background-color: var(--dark);
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    color: var(--yellow);
    height: fit-content;
    border-radius: 8px;
    border-color: var(--light-blue);
}




#themes {
    margin-right: 90px;
}



#workspace {
    position:fixed;
    top: 71px; right: 0; bottom: 0px; left: 0;
    display: flex;
    flex-direction: row;
}



#editor {
    flex: auto;
    height: 100%;
}




#output-panel {
    display: flex;
    min-width: 15vw;
    max-width: 80vw;
    width: 35vw;
}



#resizer {
    cursor: col-resize;
    background-color: var(--gray);
    height: 100%;
    right: 0;
    top: 0;
    width: 8px;
}



#output {
    background-color: var(--extra-dark);
    color: var(--light-gray);
    padding: 20px 20px 20px 20px;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
    white-space: pre-wrap;
    overflow-y: overlay;
}